:root
{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
header{
    padding: 4%;
    background-color: rgb(51, 49, 49) !important;
    width: 100%;
}

body
{
    background-color: antiquewhite !important;
}

main{
    text-align: center;
}

#produtos-container{
   display: flex;
   justify-content: center;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
}

.card
{
   background-color: white;
    padding: 2%;
    border-radius: 10px;
    width: 20% !important;
    box-shadow: 0 0 3px black;
}

.disponivel
{
    background-color: blue;
    padding: 10px;
    width: 10px;
    border-radius: 100%;
}

.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#alerta
{
    background-color: rgb(200, 54, 54) !important;
    width: 200px;
    padding: 3%;
    border-radius: 10px;
    color: white;
    display: none;
}


button
{
    margin: 5%;
    border: none;
    padding: 8px;
    border-radius: 10px;
    transition: 0.3ms;
}
button:hover
{
    background-color: brown;
    color: white;
}